/* ----- ALGEMEEN ----- */

body, html{
	margin:0;	
}

#container{
	width:1024px;
	height:768px;
	float:left;	
	position:relative;
	background:white;
}

#statusbalk{
	float:left;
	height:20px;
	width:100%;
	background:#f59833;
}

/* ----- TYPOGRAFIE ----- */

@font-face{
    font-family: SourceSansPro;
    src: url(../font/SourceSansPro-Regular.ttf);
}

@font-face{
    font-family: SourceSansProLight;
    src:url(../font/SourceSansPro-ExtraLight.ttf);
}

@font-face{
    font-family: OpenSansCondBold;
    src: url(../font/OpenSans-CondBold.ttf);
}

#login-header h1, #login #loginform #gebruiker, #login #loginform #wachtwoord, #ww-vergeten, #filter-container ul li h3{
	font-family: SourceSansPro;
}

#laden h3, ::-webkit-input-placeholder, .titel h2 {
	font-family:SourceSansProLight;
}

#login #login-button h2{
	font-family: OpenSansCondBold;	
}

/* ----- SPLASHSCREEN ----- */

#splashscreen{
	background:#f59833;
	background: -webkit-radial-gradient(center, ellipse cover, #f5c033 0%,#f59833 100%);
	width:100%;
	height:100%;	
	position:absolute;
	z-index:1;
}

#logo{
	margin:0 auto;
	margin-top:200px;
	width:221px;
	height:298px;	
}

#logo span {
	float:left;
	width:100%;
	height:100%;
	background:url(../images/elements/quora_logo.png);	
}

#laden{
	margin:0 auto;
	width:280px;
	height:64px;
	margin-top:220px;
	text-align:center;		
}

#laden h3{
	font-size:24px;
	color:white;
	text-align:center;	
	font-weight:normal;
	margin:0 auto;
}


/* ----- LOG IN ----- */

#login{
    width: 1024px;
    height: 768px;
	position:relative;
}

#login-header{
	width:100%;
	heihgt:45px;
	background:#f59833;
	border-bottom:1px solid #cb7a00;	
	float:left;
}

#login-header h1{
	color:white;
	font-size:18px;
	line-height:45px;
	text-align:center;	
	font-weight:normal;
	margin:0;
}

#login-logo{
	margin:0 auto;
	width:170px;
	height:236px;
	padding:101px 0px 60px 0px;	
}

#login-logo span {
	float:left;
	width:100%;
	height:100%;
	background:url(../images/elements/quora_logo_zilver.png) no-repeat;	
}

#login #loginform{
	margin:0 auto;
	padding:30px;
	padding-bottom:50px;
	background:#f8f8f8;
	border:1px solid #bdc3c7;
	border-bottom:none;
	width:322px;
	text-align:center;	
	height:239px;
}

#login #loginform span{
	width:322px;
	float:left;	
	height:1px;
	background:#bdc3c7;
	margin:0 auto;
	text-align:left;
}

#login #loginform #gebruiker, #login #loginform #wachtwoord{
    height: 61px;
	width:280px;
	padding:0 20px;
	float:left;
	border:1px solid #bdc3c7;
	border-radius:0px;
	font-size:32px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #bdc3c7;
}

input:focus::-webkit-input-placeholder { color:transparent; }

#login #loginform #gebruiker{ border-bottom:none; }
#login #loginform #wachtwoord{ border-top:none; }

#login #login-button{
	width:320px;
	height:64px;
	background:	#f59833;
	float:left;
	border:1px solid #cb7a00;
	margin-top:25px;
}

#login #login-button h2{
	color:white;
	font-weight:normal;
	text-align:center;
	font-size:32px;
	margin:0;
	line-height:64px;	
}

.onderbalk{
	width:100%;
	height:50px;
	position:absolute;
	background:#f59833;
	border-top: 1px solid #cb7a00;
	bottom:0;
}

#ww-vergeten{
	margin: 0 auto;
font-size: 18px;
text-align: center;
text-decoration: none;
color: #bdc3c7;
height: 30px;
margin-top: 21px;
width: 200px;
line-height: 70px;
}

.onderbalk .logo-onder{ background: url(../images/elements/quora_logo_small.png) no-repeat center center; }

.onderbalk .logo-onder{
	width:29px;
	height:38px;
	margin:6px auto 0;	
}

#naam-val, #wachtwoord-val{
	position: absolute;
	right: 108px;	
	color:white;
	background:url(../images/elements/validatie.png) no-repeat;
	width:252px;
	height:34px;
	margin: 14px 0;
	line-height: 34px;
	font-size:14px;
}

#wachtwoord-val{
	bottom:215px;	
}

/* ----- QUIZ ----- */

#quiz-filter{
	width:259px;
	float:left;
	height:653px;	
}

#quiz-header{
	width:100%;
	height:64px;
	background:#262626;
	float:left;
}

.titel h2{
	margin:0;
	font-size:34px;
	text-align:left;
	line-height:51px;
	margin-left:24px;
	color:#bdc3c7;
	font-weight:normal;	
}

#filter-titel{
	width:259px;
	height:51px;
	float:left;	
}

#filter{
	height:32px;
	width:258px;
	float:left;	
	border:1px solid #bdc3c7;
	border-left:none;
}

.filter-value{
	border-left:1px solid #bdc3c7;	
	width:85px;
	height:32px;
	float:left;
}

.filter-value span{
	font-size:14px;
	line-height:32px;
	text-align:center;
	color:#bdc3c7;	
	margin:0 auto;
}

.filter-value.active{ background:#bdc3c7; }
.filter-value.active span{ color:white; }

#filter-vak span{ margin: 0 31px; }
#filter-thema span{ margin: 0 23px; }
#filter-bundel span{ margin: 0 24px; }

#filter-container{
	float: left;
	width: 258px;
	border-right: 1px solid #bdc3c7;
	height: 549px;	
	background:#f8f8f8;
}

#filter-container ul{
	width:258px;
	margin:0;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;	
}

#filter-container ul li{
	width:258px;
	height:64px;
	float:left;
	list-style:none;	
}

#filter-container ul li h3{
	margin:0;
	font-size:24px;	
	color:#bdc3c7;
	font-weight:normal;
	line-height:64px;
}

#content-vragen{
	width:765px;
	height:582px;
	float:left;
	border-top:1px solid #bdc3c7;	
}

#vragen{
	width:765px;
	margin:0;	
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;	
	float:left;
}

#vragen li{
	width:765px;
	height:64px;
	border-bottom:1px solid #f8f8f8;
	margin:0;	
	float:left;
	list-style:none;
}

.checkbox{
	width:64px;
	height:64px;
	float:left;	
}

.checkbox span{
	float:left;
	width:32px;
	height:32px;
	margin:15px;
	border:1px solid #bdc3c7;
	border-radius:16px;
	background:#f8f8f8;
}

.checkbox.checked span{
	background:#f59833 url(../images/elements/check.png) center center no-repeat;	
	border-color:#cc7d05;
}

#navigatie{
	margin:0 auto;
	height:64px;
	width:210px;	
}

#navigatie ul{
	width:210px;
	height:64px;
	margin:0;
	padding:0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;	
}

#navigatie ul li{
	width:105px;
	height:64px;
	float:left;
	margin:0;
	padding:0;
	list-style:none;	
}

#navigatie ul span{
	width:23px;
	height:23px;
	margin:0 auto;	
	float:left;
	margin: 10px 41px 0px 41px;
}

#navigatie ul p{
	margin:0;
	color:white;
	text-align:center;
}

#nav-quiz span{
	background:url(../images/elements/quiz-nav-icon.PNG) center center no-repeat;	
}

#nav-statistiek span{
	background:url(../images/elements/nav-statistiek-icon.PNG) center center no-repeat;	
}

#navigatie ul li.active{
	background:#f59833;	
}

#nav-avatar{
	margin-left:30px;
	width:200px;
	height:64px;
	position:absolute;	
}

#nav-avatar p{
	margin:0;
	color:white;
	line-height: 64px;
	margin-left: 50px;	
}

#nav-avatar span{
	width:32px;
	height:32px;
	border-radius:16px;
	float:left;
	margin:16px 0;
	background:#f59833;		
}

#loguit{
	width:64px;
	height:64px;
	right:30px;
	position:absolute;	
}

#loguit span{
	width:14px;
	height:18px;
	background:url(../images/elements/loguit.png) center center no-repeat;
	float:left;
	margin:16px 25px 0px 25px;	
}

#loguit p{
	margin:0;
	color:white;
	text-align:center;	
}

/* ----- STATISTIEK ----- */
